/*body {
	width: 90%;
	max-width:1000px;
	margin: 0 auto;
}*/

body {
	padding: 10px;
}

h1, form {
	display: inline-block;
	vertical-align: top;
}

form input[type=text], form .button {
	width: 200px;
	margin: 0;
	display: inline-block;
	vertical-align: top;
}

form {
	position: relative;
    top: 12px;
}

form .button {
	width: 150px;
	padding: 9.5px;
}

section {
	height: 650px;
	width: 800px;
}

footer ul li {
	list-style: none;
	margin-top: 20px;
	display: inline-block;
	margin-left: 20px;
}

footer ul li img {
	cursor: pointer;
}

.left {
	float: left;
	width: 90%;
}

.right {
	float: right;
}

.queries li {
	list-style: none;
	margin-top: 10px;
}

footer p {
	display: none;
}